rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // User Profiles:
    // - Creation: Allow if auth ID matches document ID.
    // - Read/Update: Allow if auth ID matches document ID.
    // - Delete: Allow if auth ID matches document ID (optional).
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Default: Deny all other access
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
